<!-- Navigation Bar -->
<nav class="shadow-md p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" >
            <img
                src="/static/home.svg"
                class="transform transition duration-300 hover:scale-125"/>
        </a>
        <ul class="flex space-x-6 text-lg">
            <li><a href="/projects" class="transition duration-300">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>