[Unit]
Description={{project-name}} web server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{project-name}}
Group={{project-name}}
WorkingDirectory=/opt/{{project-name}}

# Secrets (ADMIN_PASSWORD, SURREAL_PASSWORD); created by systemd/setup.sh
EnvironmentFile=-/etc/{{project-name}}.env

# Path to the binary
ExecStart=/opt/{{project-name}}/{{project-name}}

# Restart behavior
Restart=on-failure
RestartSec=5

# Hardening
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
CapabilityBoundingSet=
AmbientCapabilities=

[Install]
WantedBy=multi-user.target
